# Log File #
*.log

# Class File #
*.class
/src/main/webapp/WEB-INF/classes

# Class Diagram File #
*.ucls

# Package Files #
*.jar
*.war
*.ear
*.prefs

# Eclipse Files #
.settings
*.classpath
*.project

# Intellij Files #
*.iml
.idea/

# Build Files #
*/target/**
/bin/
/deploy/
/velocity.log.1
/target/
